@model NotesApplication.Models.ViewModels.ErrorViewModel

@{
    ViewData["Title"] = "Oops!";
}

<h1 class="text-danger text-center">Oops..</h1>
<h3 class="text-danger text-center">@Model.Message</h3>

@if (Model.ShowRequestId)
{
    <p class="text-center">
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<div class="row">
    <div class="col-xs-12">
        <img class="img-responsive center-block" src="https://http.cat/@Model.StatusCode" alt="Http Status Cat"/>
    </div>
</div>

<br>
<a asp-area="" asp-controller="Notes" asp-action="Index" class="center-block text-center">Back to notes list</a>
